appdirs==1.4.3
attrs==17.2.0
cachetools==2.0.1
chardet==3.0.4
Django==1.11.2
firebase-admin==2.4.0
google-auth==1.1.1
google-cloud-core==0.27.1
google-cloud-storage==1.5.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
idna==2.6
Jinja2==2.9.6
MarkupSafe==1.0
npyscreen==4.10.5
packaging==16.8
pbr==3.1.1
protobuf==3.4.0
psycopg2==2.7.3.2
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycairo==1.13.3
Pygments==2.2.0
pyparsing==2.2.0
pyPEG2==2.15.2
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
six==1.11.0
speedtest-cli==1.0.6
stevedore==1.27.1
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
