@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto');
/*
 * Main.css
 * ------------
 * Provides the essential stylings for lend with as little bloat as possible
 * (C) Peter Richards (Created: 28/08/17)
 */

/* General Stylings */
html, body{
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  font-family:'Roboto', 'Arial';
  color:#626262;
}

.lend_godBox{
  width:calc(100% - 60px);
  height:100%;
  margin:0 30px;
  padding:0;
  display:block;
}

a{
  color:#00acff;
  text-decoration:none;
}

h1, h2{
  color:#00acff;
  font-family:'Lato';
  margin:0;
}

.border{
  border-bottom:1px solid #bfbfbf;
  width:20%;
  margin:20px auto;
}

/* Header Stylings */
.lend_header{
  width:100%;
  padding:20px 0;
  vertical-align:middle;
}

.lend_header_element{
  margin:0 10px;
  display:inline-block;
  vertical-align:middle;
}

.lend_header_left{
  width:calc(20% - 24px);
}

.lend_header_centre{
  width:calc(60% - 24px);
  text-align:center;
}

.lend_header_right{
  width:calc(20% - 24px);
  text-align:right;
  font-family:'Roboto';
}

.lend_header_search{
  border-radius:5px 0 0 5px !important;
  display:inline-block !important;
  border:0 !important;
  background-color:#eaeaea;
  color:#888888;
  font-family:'Lato';
  text-align:center !important;
  width:90% !important;
  max-width:400px !important;
  padding:10px !important;
  vertical-align:middle !important;
}

.lend_header_search::-webkit-input-placeholder {color: #888888 !important;}

.lend_header_search::-moz-placeholder {color: #888888 !important;}

.lend_header_search:-ms-input-placeholder {color: #888888 !important;}

.lend_header_search_button{
  width:10%;
  display:inline-block;
  border-radius:0 5px 5px 0;
  background-color:#d2d2d2;
  margin:0 0 0 -4px;
  padding:10px;
  vertical-align:middle;
  max-width:20px;
  font-family:'Material Icons';
}
